@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600;700&display=swap');

.timer-btn-start {
  width: 100%;
  height: 3em;
  font-size: 2em;
  background: #00bcd4 !important;
  text-transform: unset;
  margin: 0.5rem 0 1rem 0;
}

.timer-btn-ready,
.timer-btn-start:hover {
  background: #ffd54f !important;
}

.timer-window {
  font-family: "Noto Sans Display", sans-serif !important;
  background: white;
  font-size: 4em;
}

.timer-container {
  width: 60%;
}

.solve-times {
  min-height: 50vh;
}

.solve-times ul {
  padding: 0 0.4em;
  text-align: left;
}

.solve-times ul li {
  padding: 0.2em;
  text-align: left;
}

.solve-times ul li button {
  cursor: pointer;
  border: 0;
  background: none;
  color: #00bcd4;
}

.solve-times ul li button:hover {
}

.scramble {
  font-size: 1.3em;
}
