#logo {
  background: url(../../../public/logo.png) 0 14px no-repeat;
  background-size: 36px;
  padding: 0px 0 0 44px;
  height: 48px;
  font-size: 1.4em;
  width: 204px;
  color: #000;
  float: left;
}
