@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(47,60,65);
  background: radial-gradient(circle, rgba(47,60,65,1) 35%, rgba(23,27,29,1) 100%);
}

main {
  flex: 1 0 auto;
}

div#root {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

footer {
  padding: 1em 0;
  font-size: 0.8em;
}

footer a {
  color: #fff;
}

nav {}

nav ul li a {
  color: #000;
}

.main-container {
  margin-top: 5em;
}

.main-container .card {
  background: #5d7e8b;
}

#logo {
  background: url(../public/logo.png) 0 14px no-repeat;
  background-size: 36px;
  padding: 0px 0 0 44px;
  height: 48px;
  font-size: 1.4em;
  width: 204px;
  color: #000;
}

.scramble {
  padding: 1em 0;
}

.select-wrapper {
  float: right;
  width: 60px;
  margin-top: -10px;
}

.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus {
  font-size: 1em !important;
  border-bottom: 1px solid #000 !important;
}

.select-wrapper .dropdown-content li > span{
  color: #000;
  font-size: 1.3em;
}

.select-dropdown {
  font-size: 10px;
}

ul.dropdown-content li a {
  font-size: 11px;
}
