@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(47,60,65);
  background: radial-gradient(circle, rgba(47,60,65,1) 35%, rgba(23,27,29,1) 100%);
}

main {
  flex: 1 0 auto;
}

main h1 {
  color: #fff;
  text-align: center;
  font-size: 1.4em;
}

div#root {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.main-container {
  margin-top: 5em;
}

.main-container .card {
  background: #5d7e8b;
}

.scramble {
  padding: 1em 0;
}

ul.dropdown-content li a {
  font-size: 11px;
}
